<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

  <style type="text/css">
    body {
      margin: 0;
      padding: 0;
      font-family: Lato, "Helvetica Neue", sans-serif;
    }
  </style>
</head>
<body>
<p><span style="font-size: 24px; line-height: 28px;">You're Invited</span></p>
<p>Please click the link below and register your BREW BEER account</p>
<p>Use this code in registration screen:</p>
<p><%=code%></p>
<div>
  <a href="<%=url%>" target="_blank">Register</a>
</div>

</body>
</html>
